<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @cocktail.photo.file.nil? ? 'https://source.unsplash.com/random' : cl_image_path(@cocktail.photo, height: 300, width: 400, crop: :fill) %>)">
  <div class="card-description">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>


<strong>Doses</strong>
<table>
  <tbody>
    <% @cocktail.doses.each do |dose| %>
      <tr>
        <td><%= dose.description %></td>
        <td>&nbsp of &nbsp </td>
        <td><%= Ingredient.find(dose.ingredient_id).name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Create a Dose', new_cocktail_dose_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
<p id="notice"><%= notice %></p>
